*{padding:0;margin:0;box-sizing:border-box;}

body {
  height:100vh;
  width:100vw;
  background-color:lightblue;
}


.cloud {
  display:block; 
  position:absolute;
  padding:10px;
  height:150px;
  width:285px;
  border-radius:50%;
  background:white;
  border:5px solid white;
  margin-left:200px;
  z-index:8;
  animation-name:change-position;
  animation-iteration-count:infinite;
  animation-timing-function:step-start;
  animation-play-state:running;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  animation-duration:20s;
  animation-direction: normal;
  
}

@keyframes change-position {
  0%{
    transform: translate(0px, 0px);
    }
  
  50%{
    transform:translate(23vw, 0vh) ;
  }
 
  100%{transform: translate(0px, 0px);
  }
}


.cloud:before{
  content:"";
  position:absolute;
  height:75px;
  width:200px;
  background:white;
  border-radius:50px;
  border:5px solid white;
  left:-15px;
  bottom:-5px;
  }

.cloud:after{
    content:"";
  position:absolute;
  height:50px;
  width:205px;
  background:white;
  border-radius:50px;
  border:5px solid white;
  right:-15px;
  bottom:-5px;
  }
.wap {
  display: inline-block;
  width: 90px;
  height: 80px;
}
.sun {
  height: 100px;
  width: 100px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  left: 750px;
  top: 15px;
  box-shadow: 0 0 2px 2px white, 0 0 4px 4px yellow;
  animation-name: sunset;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
  animation-direction: normal;
  animation-delay: 5s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}
@keyframes sunset {

  0% {
    transform: translate(0px, 0px );
    background: #ffd630;
    }
  
  50% {
    transform: translate(0px, 530px);
    background: #f00;
    }

  100% {
    transform: translate(0px, 0px);
    background: #ffd630;
   }

}

.tree {
 left: 0px;
 top: 430px;
 position: relative;
 background-color: green;
 animation-name: sleep;
 animation-duration: 10s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-delay: 2s;

}

@keyframes sleep {
  0% {
    background-color:green;
  }
  25% {background-color: green;}
  50% {
    background-color:green;
  }
  75% {
    background-color: black;
  }
  100% {
    background-color: green;
  }
}


.sky {
  animation-name: night;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
  animation-direction: normal;
  animation-delay: 0s;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes night {

  0% {
    background-color:#6293e5;
  }
  25%{background-color:#6293e5 ;}
  50% {
    background-color: #6293e5;
  }

  75% {
    background-color:#6293e5;
  }

  100% {
    background-color: #525252;
  }

}
#mon {
  float: right;
}
